* {
    font-family: Arial;
    font-size: 14px;
    line-height: 22px;
    box-sizing: border-box;
}

.clear-float:after {
    content: "";
    display: block;
    clear: both;
}

.part-number-wrap {
    position: relative;
}

.part-number {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ffffff;
    font-size: 27px;
}

.page-header,
.center-part,
.page-footer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.page-header {
  padding-bottom: 20px;
  border-bottom: 1px solid #000000;
  margin-bottom: 20px;
}

.header-page__first-part,
.header-page__second-part,
.header-page__third-part {
    height: 100px;
    background-color: rgba(59, 67, 69, 1);
    padding: 10px;
}

.header-page__first-part-wrap {
    float: left;
    width: 15%;
    padding-right: 10px;
}

.header-page__second-part-wrap {
  float: left;
}

.header-page__third-part-wrap {
    float: right;
}

.header-page__second-part-wrap {
    width: 35%;
    padding-right: 10px;
}

.header-page__third-part-wrap {
    width: 50%;
}

/* section */

@media (min-width: 993px) {

    .center-part:before {
        content: "";
        display: block;
        clear: both;
    }

}

.sidebar-page {
    color: #ffffff;
    display: block;
}

@media (min-width: 993px) {

    .sidebar-page {
        float: left;
        width: 25%;
    }

}




.sidebar-page__first-part,
.sidebar-page__second-part {
    background-color: rgba(59, 67, 69, 1);
    padding: 10px;
    width: 100%;
}




.sidebar-page__first-part-center,
.sidebar-page__second-part-center {
    width: 320px;
    position: relative;
}

@media (min-width: 768px) {

    .sidebar-page__first-part-center,
    .sidebar-page__second-part-center {
        width: 100%;
    }

}

.sidebar-page__first-part .part-number {
    top: 0;
    left: 0;
}

.sidebar-page__first-part-title {
    margin: 0;
    font-weight: bold;
    text-align: center;
}

@media (min-width: 993px) {

    .sidebar-page__first-part-title {
        text-align: left;
    }

}

.sidebar-page__first-part-list {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    text-align: center;
}

@media (min-width: 993px) {

    .sidebar-page__first-part-list {
        text-align: left;
    }

}

.sidebar-page__second-part {
    background-color: rgba(59, 67, 69, 1);
    height: 150px;
}

@media (min-width: 993px) {

    .sidebar-page__second-part {
        margin-top: 546px;
    }

}

.main-content__title {
    font-weight: bold;
    color: #000000;
}

/* main-part */



@media (min-width: 993px) {

    .main-part {
        margin-left: 20px;
        width: 70%;
        float: right;
    }

}

.main-content {
  padding: 10px;
  margin-top: 20px;
  background-color: rgba(197, 204, 206, 1);
}

@media (min-width: 993px) {

    .main-content {
        margin-top: 0;
    }

}

.main-content .part-number {
    top: 0;
    left: 0;
}

.main-content__title {
    font-weight: bold;
}

.main-content__list span {
    font-weight: bold;
}

/* all-block */

.all-block {
    margin: 20px 0 20px -15px;
}

.one-block-wrap {
    float: left;
    max-width: 174px;
    width: 20%;
    min-width: 154px;
    padding: 20px 0 0 15px;
}

@media (min-width: 993px) {

    .one-block-wrap  {
        padding: 20px 0 0 15px;
    }

}

.one-block  {
    background-color: rgba(197, 204, 206, 1);
    height: 250px;


}



/* main-part__thirt-part */


.main-part__thirt-part .part-number-wrap {
    background-color: rgba(197, 204, 206, 1);
    padding: 10px;
}

@media (min-width: 993px) {

    .main-part__thirt-part .part-number-wrap-big {
        width: 50%;
    }

}

.main-part__thirt-part .part-number-wrap-big:last-child {
    padding: 20px 0 0 0;
}

@media (min-width: 993px) {

    .main-part__thirt-part .part-number-wrap-big:last-child {
        padding: 0 0 75px 20px;
        float: right;
    }

}

@media (min-width: 993px) {

    .main-part__thirt-part .part-number-wrap:first-child {
        float: left;
    }

}

.main-part__thirt-part p {
    margin: 0;
}

/* page-footer */

.page-footer {
    padding-top: 20px;
    border-top: 1px solid #000000;
    margin-top: 20px;
}

.page-footer-wrap:before {
    content: "";
    display: block;
    clear: both;
}

.page-footer__list-numbers-wrap,
.page-footer__list-not-numbers-wrap {
    background-color: rgba(59, 67, 69, 1);
    padding: 20px;
    color: #ffffff;
}


.page-footer__list-numbers-wrap,
.page-footer__list-not-numbers-wrap,
.page-footer__lost-part {
    width: 100%;
}

@media (min-width: 993px) {

    .page-footer__list-numbers-wrap,
    .page-footer__list-not-numbers-wrap,
    .page-footer__lost-part {
        width: 30%;
    }

}

@media (min-width: 993px) {
    .page-footer__list-numbers-wrap {
        margin-right: 65px;
    }

    .page-footer__list-numbers-wrap,
    .page-footer__list-not-numbers-wrap {
        float: left;
    }

    .page-footer__lost-part {
        float: right;
    }

}

.page-footer__list-numbers,
.page-footer__list-not-numbers {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

.page-footer__list-numbers {
    list-style-type: none;
}

@media (min-width: 480px) {

    .page-footer__list-numbers {
        column-count: 2;
    }

}

.page-footer__list-not-numbers {
    list-style-type: square;
}

.page-footer__list-numbers li,
.page-footer__list-not-numbers li {
    text-align: center;
}

@media (min-width: 993px) {

    .page-footer__list-numbers li,
    .page-footer__list-not-numbers li {
        text-align: left;
    }

}

.page-footer__lost-part .part-number-wrap {
    height: 85px;
    width: 100%;
    background-color: rgba(59, 67, 69, 1);
}

@media (min-width: 993px) {

    .page-footer__lost-part .part-number-wrap:last-child {
        margin-top: 24px;
    }

}